@import "config";
.cell-input {
  width: 207px;
  height: 100%;
  font-weight: 400;
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  border: none;

  &:focus {
    outline: none;
    background-color: transparent;
  }
}
