@import "config";

.tab-navigation-container {
  background-color: $primary--border-color;
  display: flex;
  align-items: center;
  font-size: 15px;
  height: 36px;
  width: 100%;

  .tab-icon {
    width: 16px;
    height: 16px;
    padding: 4px;
    &:hover {
      cursor: pointer;
    }
  }
  .add-tab-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-left: 12px;
  }
  .burger-icon {
    margin-left: 20px;
  }
}
.tab-navigation-container .active {
  color: $primary--cell-text-color;
  background-color: $primary--background-color;
}

.tab-navigation-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 12px;
  li {
    font-size: 15px;
    color: $primary--header-text-color;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.037px;
    font-family: $primary--font-family;

    width: 47px;
    height: 24px;
    padding: 6px 16px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    text-align: center;
    &:hover {
      cursor: pointer;
    }
    &:hover:not(.active) {
      background-color: rgba(
        255,
        255,
        255,
        0.457
      ); // or use a variable for the color if you prefer
    }
  }
}
